* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(5, 30, 71);
}

h2 {
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: rgba(4, 50, 124);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(11, 70, 138, 0.267));
    line-height: 0.70em;
    outline: none;
    animation: animate 1s linear infinite ;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: rgba(4, 50, 124);
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: white ;
        text-shadow: 0 0 10px rgb(6,149,231),
        0 0 20px rgb(6,149,231),
        0 0 40px rgb(6,149,231),
        0 0 80px rgb(6,149,231),
        0 0 160px rgb(6,149,231);
    }
}